@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Montserrat', sans-serif;
list-style-type: none;
text-decoration: none;
transition: all 500ms ease;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
    
}

body{
    background-color:var(--rich-black-fogra-29);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 85%;
    margin-bottom: 8%;
    
}

::-webkit-scrollbar{
    background:#191919;
    border-radius: 1rem;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: var(--steel-teal);
    border-radius: 1rem;

}





/* HEADER */
.header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    top:0;
    opacity: 75%;
    background-color:var(--rich-black-fogra-29);
    z-index: 1;
    
}

.header__logo{
    width: 140px;
    height: 170px;
    margin-left: 2%;    
}


.navbar{
display: flex;
align-items: center;
justify-content: flex-end;
width: 90%;
}

.navbar__list{
    display: flex;
    gap:30px;
    margin-right: 2%;
    padding:10px;
}

.navbar__list__buttom{
    color: aliceblue;
    font-size: 17px;
    font-weight:600;
}

.navbar__list__buttom:hover{
    color:var(--steel-teal);
   font-size: 18px;
   /* ARREGLAR HOVER PORQUE SE DEFORMAN LOS BOTONES */
}


.carrito-conteiner{
    display: flex;
    margin-right: 1%;
}


#carrito{
    color:var(--ghost-white);
    font-size: 120%;
}


#carrito:hover{
    color:var(--steel-teal);
    transform: scale(1.1);
}
/* HEADER */




/* HERO */

.hero{
    /* height: 880px; */
    width: 100%;
    display: flex;
    margin-top: 8%;
}

.hero__conteiner{
    width: 100%;
    display: flex;
    color: var(--ghost-white);
    flex-direction: column;
    justify-content: center;
    align-items: center;    

  
}

.hero__conteiner__text{
    display: flex;
    flex-direction: column;
}

.hero__text{
    font-size: 260%;
    text-align: center;
}

.hero__title{
    font-size: 50px;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--uranian-blue);
    white-space: nowrap;
    display: block;
    border-right: 2px solid;
    width: 19ch;
    animation: typing 3s steps(20), 
    blink .5s infinite step-end alternate;
    overflow: hidden;

   
}

@keyframes typing {
    from{
        width: 0;
    }
    
}

@keyframes blink{
    50% {
        border-color:transparent
    }
}



.hero__Conteiner__buttoms{
    display: flex;

}

.hero__buttoms__list{
    display: flex;
    gap:40px;
    margin-top: 10%;
}

.buttom {
color:aliceblue;
font-size: 120%;
padding: 10px;
font-weight: 600;



}

.buttom:hover{
    color:var(--uranian-blue);
    font-size: 125%;
}

.hero__img__conteiner{
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
    
    padding:2rem;
    border-radius: 0px;
    

box-shadow: -12px 13px 27px 4px rgba(0,0,0,0.62);
-webkit-box-shadow: -12px 13px 27px 4px rgba(0,0,0,0.62);
-moz-box-shadow: -12px 13px 27px 4px rgba(0,0,0,0.62);

}

.hero__img__conteiner:hover{
    transform: scale(1.01);
    border-radius: 2rem;
}

.hero__img{
    width: 100%;
    height: 80%;
    margin-left: 9%;
}

/* HERO */


/* INFO */

.info{
    display: flex;
    width: 100%;
    margin:10% 0 5% 0;
}

.info__img__conteiner{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 70vh;
    padding:2% 3% 2% 0;
    border-radius: 0px;
    
    
   
    
}

.info__img{
    width: 70%;
    height: 100%;
    box-shadow: -12px 13px 27px 4px rgba(0,0,0,0.62);
-webkit-box-shadow: -12px 13px 27px 4px rgba(0,0,0,0.62);
-moz-box-shadow: -12px 13px 27px 4px rgba(0,0,0,0.62);
}

.info__conteiner{
    display: flex;
    width: 50%;
    

}

.info__text__conteiner{
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:70px;
    flex-direction: column;
    padding:20px;
    margin-left: 0%;


}

.info__title{
    color:aliceblue;
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 10px;
    word-spacing: 2px;
 
   
}

.info__text{
    color:aliceblue;
    font-size:30px;
   
   
}

.info__text--capitalized{
    text-transform: uppercase;
    color: var(--steel-teal);
    font-weight: 800;
    letter-spacing: 2px;
   
}


/* INFO */

/* SEPARATE */

.separate{
    display: flex;
    width: 100%;
    height: 50px;
    margin: 2% 0 2% 0;
}

.separate__line{
    display: flex;
    background-color: var(--steel-teal);
    width: 70%;
    height: 1px;
    margin: auto;

    
   
    
}

/* SEPARATE */

/* EQUIPO */

.equipo__section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* margin-top: 10%; */
    margin-bottom: 10%;

}

.equipo__title{
    color:var(--letter-white);
    text-align: center;
    font-size: 400%;
    text-transform: uppercase;
    font-weight: 200;
    
  

}


.equipo__conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 130px;
    width: 100%;
    margin-top: 5%;
   
}

.equipo__card{
    display: flex;
    flex-wrap: wrap;
}

    .equipo__card {
    display: flex;
    width: 200px;
    height: 260px;
    flex-direction: column;
    gap:20px;
    align-items: center;
    
    background-color: #212121;
    box-shadow: 15px 15px 30px #191919,
    -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
     transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;


   }
   
   .equipo__card:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }
    
   .equipo__card i{
    margin-top: 10%;
    color:var(--steel-teal);
    font-size: 22px;

    
   }

   .equipo__name{
    color: var(--uranian-blue);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;

    
   }

   .equipo__text{
    color:var(--letter-white);
    font-size: 19px;
    text-align: center;
    font-weight: 500;

    
   }

/* EQUIPO */

/* SERVICIOS */

.service{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.service__conteiner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.service__data{
    margin-top: 5%;
   width: 400px;
   height: 470px;
   background-color: var(--card-black);
   border-radius: 2rem;
   justify-content: center;
   padding:50px;
   
   background-color: #212121;
}

.service__img{
   
    width: 100%;
    height: 240px;
    border-radius: 1rem;
 
   
}

.service__title{
    color: var(--letter-white);
    font-size: 400%;
    font-weight: 200;
    justify-content: center;
    text-align: center;

    
}

.service__title--size{
   
    margin:5%;
    color:var(--ghost-white);
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600px;

    
}


.buttom__service__conteiner{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border:1px solid var(--steel-teal);
    background-color: #191919;
    padding:1%;
    margin:5%;

    
    
}

.buttom__service{
    padding:2%;
    color:var(--letter-white);
    font-size:15px;
    font-weight: 900;

   
}

.buttom__service:hover{
    transform: scale(1.1);
    color:var(--steel-teal);
    
}





/* SERVICIOS */


/* PRODUCTOS */

.productos{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top:15%;

}

.product__title{
    color:var(--ghost-white);
    font-size: 400%;
    font-weight: 200;
    justify-content: center;
    text-align: center;

}



.product__conteiner__zone{
    display: flex;
    margin-top:5%;
    display: flex;
    flex-wrap: wrap;
    gap:5%;
    justify-content: center;
}

.product__title--interior{
    color:var(--ghost-white);
    flex-direction: column;
    font-size: 250%;
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.product__title--exterior{
    color:var(--ghost-white);
    flex-direction: column;
    font-size: 250%;
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.product__conteiner__card{
width: 300px;
height: 400px;
flex-direction: column;
display: flex;
gap:20px;
border-radius: 1rem;
background-color:var(--card-black);
border:1px solid var(--steel-teal);



}

.product__img{
    width: 100%;
    height: 55%;
    padding: 5%;
    border-radius: 2rem;
    margin-bottom: 1%;
}

.product__card__title{
   color: var(--ghost-white);
   text-align: center;
   font-size: 120%;
   text-transform: uppercase;
   font-weight: 700;
    
}

.buttom__product__data{
    color: var(--ghost-white);
    display: flex;
    justify-content: center;
    gap:10%;
    text-align: center;
    border-top: 1px solid var(--blue-gasoil);
    padding:5%;
    align-items: center;
    
    
}

.product__price{
    color: var(--ghost-white);
    text-align: center;    
    justify-content: center;
    display: flex;
    font-size: 130%;
    font-weight: 1000;
}

.buttom__add{
    color: var(--ghost-white);
    border: 1px solid var(--blue-gasoil);
    background-color: var(--card-black);
    border-radius: 1rem;
    padding:2%;
    font-size: 100%;
    font-weight: 600;
}

.buttom__add:hover{
    transform: scale(1.1);
    color:var(--steel-teal);
    
}

.separate--product{
    margin:10% 0% 1% 0;
}

/* FOOTER */

.footer{
   
    border-top: 1px solid var(--blue-gasoil);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;

}

.footer__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;    
}

.footer__text{
    color: var(--blue-gasoil);
    text-align: center;
    justify-content: center;
    font-size: 200%;
    letter-spacing:5%;
}


.creator{
    color: var(--blue-gasoil);
    font-size: 120%;
    letter-spacing:5%;
   
}




/* PRODUCTOS */

:root{
--uranian-blue: #add9f4ff;
--queen-blue: #476c9bff;
--steel-teal: #468c98ff;
--rich-black-fogra-29: #101419ff;
--letter-white: #fffcf7;
--card-black:#191716;
--ghost-white:#F7F7FF;
--blue-gasoil:#19647E;
--midnight-blue:#090030
}




:root{
    --rich-black-fogra-39: #0b090aff;
--eerie-black: #161a1dff;
--blood-red: #660708ff;
--ruby-red: #a4161aff;
--carnelian: #ba181bff;
--imperial-red: #e5383bff;
--black-shadows: #b1a7a6ff;
--light-gray: #d3d3d3ff;
--cultured: #f5f3f4ff;
--white: #ffffffff;
}